* {
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

body {
    background-color: #1b3d5b;

}

/* ----------------Home------------------- */
nav {
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    border-bottom: 2px solid white;
}

.header {
    width: 50%;
    color: black;
}

.header h1 {
    color: white;
    font-size: 23px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 10px 0 0 90px;
    text-decoration: wavy;
}

.navbar {
    width: 50%;
    padding: 13px 0 0 316px;

}

.navbar a {
    padding-left: 37px;
    font-size: 19px;
    color: white;
    text-decoration: none;
}

.sub-box {
    width: 100%;
    height: 82.6vh;
    background-image: url(image/background.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
}

.sub-box h1 {
    text-align: right;
    color: white;
    padding-right: 13%;
    padding-top: 17%;
    font-size: 53px;
}

.footer {
    width: 100%;
    height: 40px;
    background-color: black;
    text-align: center;
    padding-top: 10px;
    color: white;
    border-top: 2px solid white;
}

.footer p {
    font-size: 15px;
}


/* -------------------Login-------------------- */
.continer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.box {
    width: 252px;
    height: 233px;
    background-color: white;
    border-radius: 8px;
    padding: 15px;
    text-align: center;

}

.box input {
    width: 229px;
    height: 22px;
    margin-top: 19px;
}

.box .forget {
    text-align: left;
    padding: 8px 0;
}

.box .forget a {
    text-decoration: none;
    font-size: 13px;
    margin-left: 10px;
    color: blueviolet;
}

.box button {
    width: 100px;
    height: 30px;
    background-color: green;
    border: 1px solid green;
    border-radius: 8px;
    color: white;
}

.route {
    padding-top: 12px;
}

.route p {
    font-size: 11px;
}

.route a {
    text-decoration: underline;
    color: red;
}


/* --------------Signup------------- */
.main {
    background-color: white;
    height: 336px;
    width: 271px;
    border-radius: 12px;
    padding: 28px;
    text-align: center;
}

.main input {
    width: 272px;
    height: 28px;
    margin-top: 11px;
}

.declaration {
    text-align: left;

}

.declaration input {
    width: 11px;
    height: 16px;
}

.declaration label {
    font-size: small;

}

.main button {
    width: 239px;
    height: 30px;
    margin-top: 11px;
    background-color: lite lightblue;
    background-color: blue;
    color: white;
    border-color: blue;
}

.main p {
    font-size: small;

}